@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  font: normal 700 1em 'Comfortaa', sans-serif;
  text-decoration: none;
  color: blue;
}

h1 {
  font: normal 700 2em 'Comfortaa', sans-serif;
}

h2 {
  font: normal 700 1.5em 'Comfortaa', sans-serif;
}

p {
  font: normal 700 1em 'Comfortaa', sans-serif;
}

ul {
  list-style: none;
}

#btn-topo {
  position: fixed;
  top: 470px;
  right: 10px;
  padding: 10px;
  border-radius: 100%;
  border: none;
  background-color: chocolate;
}

#btn-topo a {
  color: #ecf0f1;
}

.logotipo {
  width: 130px;
}

#cabecalho {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.dark_mode {
  margin: 0 10px;
}

#navegacao .ul_nav {
  display: flex;
}

#navegacao ul li {
  margin: 10px;
}

/* ########## */

#apresentacao {
  height: 90vh;
  background: #00F260;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0575E6, #00F260);
  /* color: #ecf0f1; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#apresentacao h1 {
  margin: 10px 0;
}

#apresentacao p {
  text-align: center;
}

/* ############# */

#trabalhos:target {
  scroll-margin-bottom: 2em;
}

#trabalhos {
  background-color: #d2dcd3;
}

.container_trabalhos {
  display: grid;
  text-align: center;
}

.container_trabalhos .item {
  margin: 15px 0;
}

.container_trabalhos .item img {
  width: 350px;
  border-radius: 50px 20px;
}

/* ########## */

#equipe:target {
  scroll-margin-bottom: 2em;
}

#equipe {
  height: 70vh;
  background-color: #fef2f2;
}

.container {
  display: grid;
  text-align: center; 
}

.container .item {
  margin: 20px;
}

.container .item .img_equipe {
  width: 150px;
  border-radius: 50px 20px;
}

.container .item .ul_equipe li {
  font: normal 300 1em 'Comfortaa';
}

.container .item .ul_equipe li:before {
  content: "> ";
}

/* ############## */

#contato:target {
  scroll-margin-bottom: 2em;
}

#contato {
  background-color: #e8eab9;
  height: 40vh;
}

#contato h2 {
  margin: 10px;
}

.ul_contato li {
  display: flex;
  justify-content: center;
}

.ul_contato li p {
  margin: 3px;
}

#btn-orcamento {
  padding: 10px;
  font: normal 700 18px 'Comfortaa';
  background-color: #141ccd;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: .5s;
}

#btn-orcamento:hover {
  background-color: blue;
  transition: .5s;
}

#btn-orcamento a {
  color: #ecf0f1;
}

/* ############ */

#rodape {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8eab9;
}

/* ############# */

@media (min-width: 760px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }

  #equipe {
    height: 50vh;
  }
}

@media (min-width: 1096px) {
  .container_trabalhos {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #equipe {
    height: 60vh;
  }


  
  .container .item .img_equipe {
    width: 150px;
  }
  
  .container .item .ul_equipe li {
    font: normal 300 1em 'Comfortaa';
  }
  
  .container .item .ul_equipe li:before {
    content: "> ";
  }
}






