@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  font: normal 700 1em 'Comfortaa', sans-serif;
  text-decoration: none;
}

h1 {
  font: normal 700 2em 'Comfortaa', sans-serif;
}

p {
  font: normal 700 1em 'Comfortaa', sans-serif;
}

ul {
  list-style: none;
}

#cabecalho {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.dark_mode {
  margin: 0 10px;
}

#navegacao .ul_nav {
  display: flex;
}

#navegacao ul li {
  margin: 10px;
}

/* ########## */

#apresentacao {
  height: 90vh;
  background-image: url(/assets/imgs/presentation.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ecf0f1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#apresentacao h1 {
  margin: 10px 0;
}

#apresentacao p {
  text-align: center;
}

/* ############# */

#trabalhos:target {
  scroll-margin-bottom: 2em;
}

.container {
  display: grid;
  text-align: center;
}

.container .item {
  margin: 15px 0;
}

.container .item img {
  width: 350px;
  border-radius: 50px 20px;
}







@media (min-width: 760px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1096px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}